body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

/* header section decoration*/

header{
	margin:0;
}

#header-left{
	width: 30%;
	height: 200px;
	position: absolute;
	left: 0;
}

header img{
	width: 65%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 28%;
}
#header-middle{
	width: 40%;
	height: 200px;
	position: absolute;
	left: 30%;
}

#header-right{
	width:30%;
	height: 200px;
	position: absolute;
	left: 70%;
}

header button{
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	background-color: #ee0cc1;
	padding: 8px 25px;
	border: 2px solid grey;
	width: 50%;
	display: block;
	margin: 70px auto;
}

header button:hover{
	background-color: goldenrod;
}

button a{
	text-decoration: none;
	color: white;
}


/* main section decoration */

main{
	position: relative;
	top: 220px;
	max-width: 1980px;
}
main img {
	width: 100%;
}