body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

/* header section decoration*/

header{
	margin:0;
}

#header-left{
	width: 30%;
	height: 120px;
	position: absolute;
	left: 0;
}

header img{
	width: 50%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 40%;
}
#header-middle{
	width: 40%;
	height: 120px;
	position: absolute;
	left: 30%;
}

#header-right{
	width:30%;
	height: 120px;
	position: absolute;
	left: 70%;
}

header button{
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	background-color: #ee0cc1; /*purple pink*/
	padding: 8px 25px;
	border: 1px solid grey;
	width: 50%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 50%;
}

header button:hover{
	background-color: goldenrod;
}

button a{
	text-decoration: none;
	color: white;
}


/* main section decoration */

main{
	position: relative;
	top: 120px;
	max-width: 1980px;
}
main img {
	width: 100%;
}

#greetings{
	width: 40%;
	position: absolute;
	left: 30%;
	text-align: center;

}

#greetings h1{
	color: dimgray;
	font-size: 55px;
	font-style: italic;
	margin-bottom: 0;
	letter-spacing: 2px;
	
}

#greetings p{
	color: #c29f59; /*gold color*/
	font-size: 25px;
	margin-top: 10px;
}

.section-headings{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.section-headings img{
	width: 5%;
	display: inline;
}

main h2{
	color: #c29f59;
	font-size: 40px;
	letter-spacing: 3px;
	display: inline;
	white-space: nowrap;
}

#service-repeater{
	width: 80%;
	background-color: lightblue;
}

#service-repeater div {
	width: 25%;
	float: left;
	position: absolute;
	background-color: lightblue;
}